main {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual tamaño */
    gap: 10px; /* Espacio entre las tarjetas */
    margin-top: 5px;
}

.interactive_example, .code_js {
    background-color: #f4f4f4; /* Fondo de las tarjetas */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
}