h1 {
    color: #333;
}


#quiz-container {
    text-align: left;
    margin-bottom: 20px;
    padding: auto;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.return_link {
    background-color: #222;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.return_link a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.return_link a:hover {
    color: #4aa6d4;
    text-decoration: underline;
}