//Colors
$primary-color: #0275d8;
$secondary-color: #5bc0de;
$tertiary-color: #6c757d;
$danger-color: #d11935;

// Fonts
$font-family-main: 'Arial', sans-serif;
$font-size-base: 16px;

// Espaciados
$spacing-unit: 1rem;

// Sombras
$box-shadow-hover: 0 10px 15px rgba(0, 0, 0, 0.2);
