@use 'variables';
@use 'mixins';
@use 'html';
@use 'css';
@use 'bootstrap';
@use 'sass';

// Estilos globales
body {
    font-family: variables.$font-family-main;
    font-size: variables.$font-size-base;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

.navbar {
    background-color: variables.$primary-color;
}

footer {
    background-color: #333;
    color: white;
    padding: variables.$spacing-unit;
    text-align: center;
}
